.plusIcon {
  background-image: url('../imgs/plus.png');
  background-size: 100% auto;
  border: 0;
  height: 40px;
  margin: 3px 8px;
  padding: 10px;
  width: 40px;
}

.minusIcon {
  background-image: url('../imgs/minus.png');
  background-size: 100% auto;
  border: 0;
  height: 40px;
  margin: 3px 8px;
  padding: 15px 10px 35px;
  width: 50px;
}

.adding {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.qtdText {
  font-weight: 700;
  margin: 10px;
}

.qtdNumber {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 20px;
  padding: 5px 5px 5px 20px;
  width: 80px;
}

.btnAdd {
  background-color: white;
  border: 1px solid black;
  height: 35px;
  width: 150px;
}
