.category-options {
  cursor: pointer;
  display: block;
  font-size: 25px;
  padding: 2%;
  position: relative;
}

.category-options:hover {
  background-color: #c02942;
  border-radius: 11px;
}

.category-options > input:checked + div {
  background-color: #53777a;
  border-radius: 10px;
  padding: 1%;
  width: 100%;
}

.category-options input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.category-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 30%;
}

.category-options-box {
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 20em;
  margin: 5px;
  overflow-y: scroll;
  padding: 5%;
  width: 250px;
}

.categorias {
  font-weight: 700;
  margin: 5px;
}
