.body {
  font-family: Arial , Helvetica , sans-serif;
  margin: 5vw;
}

.display {
  display: flex;
  flex-basis: 40%;
  justify-content: space-between;
  margin: 0 20px;
  max-width: 40%;
  width: 40%;
}

.especificacoesTecnicas {
  border: 1px solid black;
  border-radius: 3px;
  flex-basis: 60%;
  margin: 0 20px;
  max-width: 60%;
  padding: 10px 20px;
  width: 60%;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.seta {
  width: 30px;
}

.carrinho {
  width: 30px;
}

.productImage {
  border: 1px solid black;
  border-radius: 3px;
  width: 20vw;
}

.userEmail {
  border: 1px solid black;
  display: flex;
  height: 2vw;
  margin: 10px 0;
  width: 20vw;
}

.review {
  border: 1px solid black;
  display: flex;
  height: 10vw;
  width: 35vw;
}

.reviewBox {
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.reviewButton {
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.titulo {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}
