.categoria {
  display: flex;
  flex-flow: row wrap;
}

.barraPesquisa {
  display: flex;
}

.inputBar {
  border: 1px solid black;
  border-radius: 10px;
  height: 25px;
  margin-top: 20px;
  width: 70vw;
}

.textoBusca {
  font-size: 25px;
  text-align: center;
}

.partedeCima {
  display: flex;
  justify-content: center;
}

.iconeCarrinho {
  align-items: flex-end;
  padding: 10px;
  padding-right: 50px;
}

.numeroItens {
  align-items: center;
  background-image: url('../imgs/img_290616.png');
  background-size: 50px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  height: 41px;
  width: 50px;
}

.quantidade:hover {
  background-color: rgb(192, 41, 65);
}

.flex-pai {
  display: flex;
}

.flex-directed-colum {
  display: flex;
  flex-direction: column;
}
