.caixa {
  width: 30vh;
  position: relative;
  margin-left: -7%;
}

.carrinho {
    width: 5vh;
 }

.meuCarrinho {
  display: flex;
  align-items: center;
}

.minhaCaixa {
  position: relative;
  margin-left: 50%;
  flex-direction: column;
}

.seta {
  width: 5vh;
}

.textoCaixa {
  font-weight: 700;
  font-size: 30px;
  margin-left: -8%;
}

.textoCarrinho {
  font-weight: 700;
  font-size: 20px;
}
